
                               /* (atenção! foi utilizado para exibição/testes o navegador Firefox Developer Edition),
                               alguns navegadores podem interpretar o código de forma diferente e quebrar o layout. */

html {
          font-family: "Montserrat", sans-serif;
}

#header-titulo {
          background-color: #02A28F; 
}

#h1-titulo {
          color: white;
          font-size: 2rem;
          font-style: bold;
          font-weight: 700;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 2.5rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
}

                                   /* seção da imagem principal e dos cards laterais (posts populares) */

#section1 {
          display: flex;
          flex-direction: row;   
}

#banner-image {
          max-width: 100%;
          height: auto;
          margin-left: 1rem;
}

#header-posts-populares {
          color: white;
          font-size: 1.2rem;
          font-style: bold;
          font-weight: 700;
          background-color: #02A28F;
          border-radius: 0.5rem;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 1rem;
          padding-right: 18rem;
          
}

#section1 ul {
          list-style-type: none;
          display: grid;
          padding-left: 1rem;
          margin-right: 0;
          margin-top: 0.7rem;
          margin-bottom: 2rem;
          gap: 1rem;
}

#section1 ul li {
          display: flex;
          gap: 1rem;
          width: 100%;
          box-sizing: border-box;
}

#section1 ul li img {
          max-width: 100%;
          height: auto;
          padding-left: 0.5rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
}

#section1 ul li h2 {
          font-size: 1.1rem;
          font-weight: 700;
}

#list-p {
          margin-top: 0;
          padding-top: 0.3rem;
          font-size: 0.8rem;
          font-weight: 500;
          color: #555;
}

#list-item-01 {
          color: black;
          font-size: 0.4rem;
          background-color: #FFFFFF;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
          border-radius: 0.5rem;
          cursor: pointer;
}
#list-item-02 {
          color: black;
          font-size: 0.4rem;
          background-color: #FFFFFF;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
          border-radius: 0.5rem;
          cursor: pointer;
}

#list-item-03 {
          color: black;
          font-size: 0.4rem;
          background-color: #FFFFFF;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
          border-radius: 0.5rem;
          cursor: pointer;
}

                                                  /* seção dos banners e categorias */

#section2 {
          display: flex;
          flex-direction: row; 
}

#header-banners-articles {
          display: flex;
}

#header-banners-articles h3 {
          color: white;
          font-size: 1.2rem;
          font-weight: 700;
          font-style: bold;
          background-color: #02A28F;
          border-radius: 0.5rem; 
          margin-left: 2.1rem;
          padding-left: 1rem;
          padding-right: 0;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
}

#h3-link {
          color: white;
          font-size: 1rem;
          font-weight: 400;
          padding-left: 27rem;
          padding-right: 1rem;
}

#banners-section-02 {    
          display: grid;
          grid-template-columns: repeat(2, 1fr); /* 2 colunas */
          grid-template-rows: repeat(2, 1fr);    /* 2 linhas */
          gap: 1.5rem;                           /* Espaço entre os blocos */
          list-style: none;
          padding-left: 2rem;
}

#banners-section-02 li {
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
          border-radius: 1rem;
          padding-left: 0.1rem;
          padding-right: 0.1rem;
          cursor: pointer;
}

#banners-section-02 li h4 {
          font-size: 1.3rem;
          padding-left: 0.5rem;
}

#banners-section-02 li h5 {
          font-size: 0.9rem;
          padding-left: 0.5rem;
}

#banners-section-02 li p {
          font-size: 0.9rem;
          padding-left: 0.5rem;
}

#banners-section-02 li img {
          width: 100%;
          height: auto;
}

.banners-section-02-article-categories {
          color: #02A28F ;
}

#div-section-side-categories {
         margin-left: 0;
         margin-right: 1.5rem;
}

#header-bar-section-categories {
          color: white;
          font-size: 0.5rem;
          font-weight: 600;
          font-style: bold;
          background-color: #02A28F;
          padding-top: 0.15rem;
          padding-bottom: 0.15rem;
          margin-top: 1.2rem;
          padding-left: 1rem;
          padding-right: 23.5rem;
          border-radius: 0.5rem;   
          margin-right: 3rem;  
          margin-bottom: 1rem;
}

#div-section-side-categories ul li {
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          
}

#ul-div-section-side-categories {
          list-style: none;
}

#li-01 span {
          padding-left: 23rem;
}

#li-02 span {
          padding-left: 17.2rem;
}

#li-03 span {
          padding-left: 18.8rem;
}

#li-04 span {
          padding-left: 22.3rem;
}

#li-01 {
          cursor: pointer;
}

#li-02 {
          cursor: pointer;
}

#li-03 {
          cursor: pointer;
}

#li-04 {
          cursor: pointer;
}

#footer {
          color: white;
          background-color: #02A28F;
          text-align: center;
          padding: 1rem;
}


            /* Media Queries para Responsividade (atenção! foi utilizado para exibição/testes o navegador Firefox Developer Edition) */


@media (min-width: 475px) and (max-width: 480px) {

#section1 {
          display: flex;
          flex-direction: column;  
}

#h1-titulo {
          font-size: 1rem;
          font-weight: 700;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 0.9rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-right: 2rem;
          margin-right: 0;
}

#banner-image {
          max-width: 100%;
          height: auto;
          margin-left: 0;
}

#header-posts-populares {
          font-size: 1rem;
          font-weight: 700;
          padding-left: 0.3rem;
          padding-right: 18.3rem;
          padding-top: 0.2rem;
          padding-bottom: 0.2rem;
}

#section1 ul {
          padding-left: 1rem;
          margin-right: 1rem;
          margin-top: 0.7rem;
          margin-bottom: 2rem;
          gap: 1rem;
}          

#section1 ul li h2 {
          font-size: 1rem;
          font-weight: 700;
}

#list-p {
          margin-top: 0;
          padding-top: 0.3rem;
          font-size: 0.7rem;
          font-weight: 500;
          color: #555;
}

#section2 {
          display: flex;
          flex-direction: column; 
}

#banners-section-02 {    
          display: flex;
          flex-direction: column;
          margin-right: 2.5rem;
}

#header-banners-articles h3 {
          font-size: 0.8rem;
          font-weight: 700;
          margin-left: 2rem;
          padding-left: 1rem;
          padding-right: 2.5rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
}

#h3-link {
          font-size: 0.5rem;
          font-weight: 400;
          padding-left: 9rem;
}

#header-bar-section-categories {
          padding-right: 12rem; 
}

#ul-div-section-side-categories {
          margin-left: 2rem;
}

#li-01 span {
          padding-left: 14rem;
}

#li-02 span {
          padding-left: 8.3rem;
}

#li-03 span {
          padding-left: 9.9rem;
}

#li-04 span {
          padding-left: 13.3rem;
}

}

@media (min-width: 762px) and (max-width: 767px) {

#section1 {
          display: flex;
          flex-direction: column;  
}

#header-posts-populares {
          padding-right: 32.1rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
}

#section1 ul {
          margin-left: 1rem;
          margin-right: 1.5rem;
}

#section2 {
          display: flex;
          flex-direction: column; 
}

#banners-section-02 {
          margin-right: 1.5rem;
}

#h3-link {
          padding-left: 23.6rem;
}

#ul-div-section-side-categories {
    margin-left: 1rem;
}

#li-01 span {
          padding-left: 33rem;
}

#li-02 span {
          padding-left: 27.4rem;
}

#li-03 span {
          padding-left: 29rem;
}

#li-04 span {
          padding-left: 32.3rem;
}


}


@media (min-width: 987px) and (max-width: 992px) {

#section1 {
          display: flex;
          flex-direction: column;
}

#header-posts-populares {
          padding-right: 39.8rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
}

#section1 ul {
          margin-left: 4rem;
          margin-right: 5rem;
}

#section2 {
          display: flex;
          flex-direction: column; 
}

#banners-section-02 {
          margin-right: 1.5rem;
}

#h3-link {
          padding-left: 37.7rem;
}

#ul-div-section-side-categories {
    margin-left: 3rem;
}

#li-01 span {
          padding-left: 45rem;
}

#li-02 span {
          padding-left: 39.3rem;
}

#li-03 span {
          padding-left: 40.8rem;
}

#li-04 span {
          padding-left: 44.3rem;
}

}

@media (min-width: 1195px) and (max-width: 1200px) {

#banner-image {
          max-width: 38.5rem;
          height: auto;
          margin-left: 1rem;
}

#header-posts-populares {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
}

#h3-link {
          padding-left: 16.5rem;
}


}

@media (min-width: 1915px) and (max-width: 1920px) {

#banners-section-02 {
          max-width: 46.6rem;
}

}

                                                            /* Fim das Media Queries */





